html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000; /* Fondo sólido */
}

.card {
  max-width: 400px;
  padding: 20px;
  background: linear-gradient(to right, #424141, #000000);
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  color: #fff;
}

h3 {
  text-align: center;
  color: #cfb1e4;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #ffffff;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border 0.3s;
}

input:focus {
  border: 1px solid #cfb1e4;
  outline: none;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #008b8b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #007bff;
}

button:disabled {
  background-color: #ccc;
}

.btn-link {
  text-decoration: none;
  color: #cfb1e4;
}

.text-danger {
  font-size: 0.9rem;
  color: #ff6b6b;
}
